## Introduction
In this micro-course, you will learn a practical approach to feature engineering. You'll be able to apply what you learn to Kaggle competitions as well as building machine learning applications. Through hands-on exercises you will:

- Develop a baseline model for comparing performance on models with more features
- Encode categorical features so the model can make better use of the information
- Generate new features to provide more information for the model
- Select features to reduce overfitting and increase prediction speed

In the exercise, you will apply feature engineering techniques to data from the TalkingData AdTracking competition.

The goal of the competition is to predict if a user will download an app after clicking through an ad. For this course you will use a small sample of the data, dropping 99% of negative records (where the app wasn't downloaded) to make the target more balanced.

Kickstarter projects
To help you apply the techniques, you'll first see them applied using data from Kickstarter projects. The first few rows of the Kickstarter projects data looks like this:

### Kickstarter projects
To help you apply the techniques, you'll first see them applied using data from Kickstarter projects. The first few rows of the Kickstarter projects data looks like this:

In [1]:
import pandas as pd
ks = pd.read_csv('Dataset/kickstarter-projects/ks-projects-201801.csv', parse_dates=['deadline', 'launched'])
ks.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

What we can do here is predict if a Kickstarter project will succeed. We get the outcome from the state column. To predict the outcome we can use features such as category, currency, funding goal, country, and when it was launched.

### Preparing target column
First I'll look at project states and convert the column into something we can use as targets in a model.

In [2]:
pd.unique(ks.state)

array(['failed', 'canceled', 'successful', 'live', 'undefined',
       'suspended'], dtype=object)

We have six states, how many records of each?

In [3]:
ks.groupby('state')['ID'].count()

state
canceled       38779
failed        197719
live            2799
successful    133956
suspended       1846
undefined       3562
Name: ID, dtype: int64

Data cleaning isn't the current focus, so we'll simplify this example by:

- Dropping projects that are "live"
- Counting "successful" states as outcome = 1
- Combining every other state as outcome = 0

In [4]:
# Drop live projects
ks = ks.query('state != "live"' )

# Add outcome column, "successful" == 1, others are 0
ks = ks.assign(outcome=(ks['state'] == 'successful').astype(int))

### Converting timestamps
I convert the launched feature into categorical features we can use in a model. Since I loaded in the columns as timestamp data, I access date and time values through the .dt attribute on the timestamp column.

In [5]:
ks = ks.assign(hour=ks.launched.dt.hour,
               day=ks.launched.dt.day,
               month=ks.launched.dt.month,
               year=ks.launched.dt.year)

ks.head(7)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,outcome,hour,day,month,year
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95,0,12,11,8,2015
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00,0,4,2,9,2017
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00,0,0,12,1,2013
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00,0,3,17,3,2012
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00,0,8,4,7,2015
5,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,50000.0,2016-02-26 13:38:27,52375.0,successful,224,US,52375.0,52375.0,50000.00,1,13,26,2,2016
6,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,USD,2014-12-21,1000.0,2014-12-01 18:30:44,1205.0,successful,16,US,1205.0,1205.0,1000.00,1,18,1,12,2014

### Prepping categorical variables
Now for the categorical variables -- category, currency, and country -- I'll need to convert them into integers so our model can use the data. For this I'll use scikit-learn's LabelEncoder. This assigns an integer to each value of the categorical feature and replaces those values with the integers.

In [6]:
from sklearn.preprocessing import LabelEncoder

cat_features = ['category', 'currency', 'country']
encoder = LabelEncoder()

# Apply the label encoder to each column
encoded = ks[cat_features].apply(encoder.fit_transform)
encoded.head()

   category  currency  country
0       108         5        9
1        93        13       22
2        93        13       22
3        90        13       22
4        55        13       22

I'll collect all the features we'll use in a new dataframe and use that to train a model.

In [7]:
# Since ks and encoded have the same index and I can easily join them
data = ks[['goal', 'hour', 'day', 'month', 'year', 'outcome']].join(encoded)

data.head()

      goal  hour  day  month  year  outcome  category  currency  country
0   1000.0    12   11      8  2015        0       108         5        9
1  30000.0     4    2      9  2017        0        93        13       22
2  45000.0     0   12      1  2013        0        93        13       22
3   5000.0     3   17      3  2012        0        90        13       22
4  19500.0     8    4      7  2015        0        55        13       22

### Creating training, validation, and test splits
We need to create data sets for training, validation, and testing. We'll use a fairly simple approach and split the data using slices. We'll use 10% of the data as a validation set, 10% for testing, and the other 80% for training.

In [8]:
valid_fraction = 0.1
valid_size = int(len(data) * valid_fraction)

train = data[:-2 * valid_size]
valid = data[-2 * valid_size:-valid_size]
test = data[-valid_size:]

In general you want to be careful that each data set has the same proportion of target classes. I'll print out the fraction of successful outcomes for each of our datasets.

In [9]:
for  each in [train, valid, test]:
    print(f'Outcome Fraction = {each.outcome.mean():.4f}')

Outcome Fraction = 0.3570
Outcome Fraction = 0.3539
Outcome Fraction = 0.3542

This looks good, each set is around 35% true outcomes likely because the data was well randomized beforehand. A good way to do this automatically is with sklearn.model_selection.StratifiedShuffleSplit but I don't need to use it here.

### Training a LightGBM model
For this course we'll be using a LightGBM model. This is a tree-based model that typically provides the best performance, even compared to XGBoost. It's also relatively fast to train. We won't do hyperparameter optimization because that isn't the goal of this course. So, our models won't be the absolute best performance you can get. But you'll still see model performance improve as we do feature engineering.

In [10]:
!pip install lightgbm

Requirement already satisfied: lightgbm in c:\users\deny frans\anaconda3\lib\site-packages (2.3.1)
Requirement already satisfied: scikit-learn in c:\users\deny frans\anaconda3\lib\site-packages (from lightgbm) (0.22.2.post1)
Requirement already satisfied: numpy in c:\users\deny frans\anaconda3\lib\site-packages (from lightgbm) (1.18.1)
Requirement already satisfied: scipy in c:\users\deny frans\anaconda3\lib\site-packages (from lightgbm) (1.4.1)
Requirement already satisfied: joblib>=0.11 in c:\users\deny frans\anaconda3\lib\site-packages (from scikit-learn->lightgbm) (0.14.1)

In [11]:
import lightgbm as lgb

feature_cols = train.columns.drop('outcome')

In [12]:
dtrain = lgb.Dataset(train[feature_cols], label=train['outcome'])
dvalid = lgb.Dataset(valid[feature_cols], label=valid['outcome'])

param = {'num_leaves':64, 'objective':'binary'}
param['metric'] = 'auc'
num_round = 1000
bst = lgb.train(param, dtrain, num_round, valid_sets=[dvalid], early_stopping_rounds=10, verbose_eval=False)

### Making predictions & evaluating the model
Finally, let's make predictions on the test set with the model and see how well it performs. An important thing to remember is that you can overfit to the validation data. This is why we need a test set that the model never sees until the final evaluation.

In [13]:
from sklearn import metrics

ypred = bst.predict(test[feature_cols])
score = metrics.roc_auc_score(test['outcome'], ypred)

print(f'Test Predicted : {ypred}')
print(f'Test AUC score : {score}')

Test Predicted : [0.46018401 0.49095702 0.42567723 ... 0.35852514 0.22526392 0.53888705]
Test AUC score : 0.747615303004287

### Your Turn
Now you'll build your own baseline model which you can improve with feature engineering techniques as you go through the course.

## Exercise: Baseline Model c21333
## Introduction

In this exercise, you will develop a baseline model for predicting if a customer will buy an app after clicking on an ad. With this baseline model, you'll be able to see how your feature engineering and selection efforts improve the model's performance.

In [14]:
click_data = pd.read_csv('train_sample.csv', parse_dates=['click_time'])

click_data.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,89489,3,1,13,379,2017-11-06 15:13:23,NaN,0
1,204158,35,1,13,21,2017-11-06 15:41:07,2017-11-07 08:17:19,1
2,3437,6,1,13,459,2017-11-06 15:42:32,NaN,0
3,167543,3,1,13,379,2017-11-06 15:56:17,NaN,0
4,147509,3,1,13,379,2017-11-06 15:57:01,NaN,0

### Baseline Model

The first thing you need to do is construct a baseline model. All new features, processing, encodings, and feature selection should improve upon this baseline model. First you need to do a bit of feature engineering before training the model itself.

#### 1) Features from timestamps
From the timestamps, create features for the day, hour, minute and second. Store these as new integer columns `day`, `hour`, `minute`, and `second` in a new DataFrame `clicks`.

In [15]:
# Add new columns for timestamp features day, hour, minute, and second
clicks = click_data.copy()
clicks['day'] = clicks['click_time'].dt.day.astype('uint8')
# Fill in the rest
clicks['hour'] = clicks['click_time'].dt.hour.astype('uint8')
clicks['minute'] = clicks['click_time'].dt.minute.astype('uint8')
clicks['second'] = clicks['click_time'].dt.second.astype('uint8')

#### 2) Label Encoding
For each of the categorical features `['ip', 'app', 'device', 'os', 'channel']`, use scikit-learn's `LabelEncoder` to create new features in the `clicks` DataFrame. The new column names should be the original column name with `'_labels'` appended, like `ip_labels`.

In [16]:
from sklearn import preprocessing

cat_features = ['ip', 'app', 'device', 'os', 'channel']

# Create new columns in clicks using preprocessing.LabelEncoder()
label_encoder = LabelEncoder()
for feature in cat_features:
    encoded = label_encoder.fit_transform(clicks[feature])
    clicks[feature + '_labels'] = encoded
    
#     encoded = clicks[cat_features].apply(encoder.fit_transform)

In [17]:
clicks.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed,day,hour,minute,second,ip_labels,app_labels,device_labels,os_labels,channel_labels
0,89489,3,1,13,379,2017-11-06 15:13:23,NaN,0,6,15,13,23,27226,3,1,13,120
1,204158,35,1,13,21,2017-11-06 15:41:07,2017-11-07 08:17:19,1,6,15,41,7,110007,35,1,13,10
2,3437,6,1,13,459,2017-11-06 15:42:32,NaN,0,6,15,42,32,1047,6,1,13,157
3,167543,3,1,13,379,2017-11-06 15:56:17,NaN,0,6,15,56,17,76270,3,1,13,120
4,147509,3,1,13,379,2017-11-06 15:57:01,NaN,0,6,15,57,1,57862,3,1,13,120

#### 3) One-hot Encoding

Now you have label encoded features, does it make sense to use one-hot encoding for the categorical variables ip, app, device, os, or channel?

Run the following line after you've decided your answer.

Solution: The ip column has 58,000 values, which means it will create an extremely sparse matrix with 58,000 columns. This many columns will make your model run very slow, so in general you want to avoid one-hot encoding features with many levels. LightGBM models work with label encoded features, so you don't actually need to one-hot encode the categorical features

### Train, validation, and test sets
With our baseline features ready, we need to split our data into training and validation sets. We should also hold out a test set to measure the final accuracy of the model.

#### 4) Train/test splits with time series data
This is time series data. Are they any special considerations when creating train/test splits for time series? If so, what and why?

Uncomment the following line after you've decided your answer.

Solution: Since our model is meant to predict events in the future, we must also validate the model on events in the future. If the data is mixed up between the training and test sets, then future data will leak in to the model and our validation results will overestimate the performance on new data.

#### Create train/validation/test splits

Here we'll create training, validation, and test splits. First, `clicks` DataFrame is sorted in order of increasing time. The first 80% of the rows are the train set, the next 10% are the validation set, and the last 10% are the test set.

In [18]:
feature_cols = ['day', 'hour', 'minute', 'second', 
                'ip_labels', 'app_labels', 'device_labels',
                'os_labels', 'channel_labels']

valid_fraction = 0.1
click_srt = clicks.sort_values('click_time')
valid_rows = int(len(click_srt) * valid_fraction)
train = click_srt[:-valid_rows * 2]
# valid size == test size, last two sections of the data
valid = click_srt[-valid_rows * 2:-valid_rows]
test = click_srt[-valid_rows:]

#### Train with LightGBM

Now we can create LightGBM dataset objects for each of the smaller datasets and train the baseline model.

In [19]:
dtrain = lgb.Dataset(train[feature_cols], label=train['is_attributed'])
dvalid = lgb.Dataset(valid[feature_cols], label=valid['is_attributed'])
dtest = lgb.Dataset(test[feature_cols], label=test['is_attributed'])

param = {'num_leaves':64, 'objective':'binary'}
param['metric'] = 'auc'
num_round = 1000
bst = lgb.train(param, dtrain, num_round, valid_sets=[dvalid], early_stopping_rounds=10)

[1]	valid_0's auc: 0.948979
Training until validation scores don't improve for 10 rounds
[2]	valid_0's auc: 0.949235
[3]	valid_0's auc: 0.950126
[4]	valid_0's auc: 0.950072
[5]	valid_0's auc: 0.950536
[6]	valid_0's auc: 0.950943
[7]	valid_0's auc: 0.951453
[8]	valid_0's auc: 0.951518
[9]	valid_0's auc: 0.952385
[10]	valid_0's auc: 0.952434
[11]	valid_0's auc: 0.952465
[12]	valid_0's auc: 0.952638
[13]	valid_0's auc: 0.95266
[14]	valid_0's auc: 0.952766
[15]	valid_0's auc: 0.953203
[16]	valid_0's auc: 0.953503
[17]	valid_0's auc: 0.953793
[18]	valid_0's auc: 0.953966
[19]	valid_0's auc: 0.954184
[20]	valid_0's auc: 0.9543
[21]	valid_0's auc: 0.954305
[22]	valid_0's auc: 0.954536
[23]	valid_0's auc: 0.954748
[24]	valid_0's auc: 0.955142
[25]	valid_0's auc: 0.955493
[26]	valid_0's auc: 0.955611
[27]	valid_0's auc: 0.955708
[28]	valid_0's auc: 0.955795
[29]	valid_0's auc: 0.956172
[30]	valid_0's auc: 0.95623
[31]	valid_0's auc: 0.956477
[32]	valid_0's auc: 0.956606
[33]	valid_0's auc: 0.956864
[34]	valid_0's auc: 0.957204
[35]	valid_0's auc: 0.957327
[36]	valid_0's auc: 0.957408
[37]	valid_0's auc: 0.957524
[38]	valid_0's auc: 0.957659
[39]	valid_0's auc: 0.957846
[40]	valid_0's auc: 0.958042
[41]	valid_0's auc: 0.958146
[42]	valid_0's auc: 0.958181
[43]	valid_0's auc: 0.958285
[44]	valid_0's auc: 0.958433
[45]	valid_0's auc: 0.95854
[46]	valid_0's auc: 0.958625
[47]	valid_0's auc: 0.958756
[48]	valid_0's auc: 0.958863
[49]	valid_0's auc: 0.958938
[50]	valid_0's auc: 0.959046
[51]	valid_0's auc: 0.95908
[52]	valid_0's auc: 0.959147
[53]	valid_0's auc: 0.9592
[54]	valid_0's auc: 0.959259
[55]	valid_0's auc: 0.959311
[56]	valid_0's auc: 0.959324
[57]	valid_0's auc: 0.959348
[58]	valid_0's auc: 0.959435
[59]	valid_0's auc: 0.959463
[60]	valid_0's auc: 0.95949
[61]	valid_0's auc: 0.959562
[62]	valid_0's auc: 0.959721
[63]	valid_0's auc: 0.959729
[64]	valid_0's auc: 0.959773
[65]	valid_0's auc: 0.959809
[66]	valid_0's auc: 0.959868
[67]	valid_0's auc: 0.959921
[68]	valid_0's auc: 0.959994
[69]	valid_0's auc: 0.960065
[70]	valid_0's auc: 0.96011
[71]	valid_0's auc: 0.960133
[72]	valid_0's auc: 0.960275
[73]	valid_0's auc: 0.960299
[74]	valid_0's auc: 0.960336
[75]	valid_0's auc: 0.960365
[76]	valid_0's auc: 0.960411
[77]	valid_0's auc: 0.960488
[78]	valid_0's auc: 0.960523
[79]	valid_0's auc: 0.960563
[80]	valid_0's auc: 0.960624
[81]	valid_0's auc: 0.960665
[82]	valid_0's auc: 0.960724
[83]	valid_0's auc: 0.960724
[84]	valid_0's auc: 0.960751
[85]	valid_0's auc: 0.960799
[86]	valid_0's auc: 0.960853
[87]	valid_0's auc: 0.960876
[88]	valid_0's auc: 0.960934
[89]	valid_0's auc: 0.961012
[90]	valid_0's auc: 0.961012
[91]	valid_0's auc: 0.961065
[92]	valid_0's auc: 0.961095
[93]	valid_0's auc: 0.961131
[94]	valid_0's auc: 0.961136
[95]	valid_0's auc: 0.961155
[96]	valid_0's auc: 0.961191
[97]	valid_0's auc: 0.961189
[98]	valid_0's auc: 0.961189
[99]	valid_0's auc: 0.961224
[100]	valid_0's auc: 0.961228
[101]	valid_0's auc: 0.96125
[102]	valid_0's auc: 0.961259
[103]	valid_0's auc: 0.961289
[104]	valid_0's auc: 0.961309
[105]	valid_0's auc: 0.961309
[106]	valid_0's auc: 0.96134
[107]	valid_0's auc: 0.961373
[108]	valid_0's auc: 0.961382
[109]	valid_0's auc: 0.961391
[110]	valid_0's auc: 0.961402
[111]	valid_0's auc: 0.961449
[112]	valid_0's auc: 0.96145
[113]	valid_0's auc: 0.961482
[114]	valid_0's auc: 0.961481
[115]	valid_0's auc: 0.961492
[116]	valid_0's auc: 0.961513
[117]	valid_0's auc: 0.961531
[118]	valid_0's auc: 0.961539
[119]	valid_0's auc: 0.961563
[120]	valid_0's auc: 0.961563
[121]	valid_0's auc: 0.961568
[122]	valid_0's auc: 0.961588
[123]	valid_0's auc: 0.961599
[124]	valid_0's auc: 0.961605
[125]	valid_0's auc: 0.961605
[126]	valid_0's auc: 0.96161
[127]	valid_0's auc: 0.961626
[128]	valid_0's auc: 0.961626
[129]	valid_0's auc: 0.96163
[130]	valid_0's auc: 0.961646
[131]	valid_0's auc: 0.961678
[132]	valid_0's auc: 0.961672
[133]	valid_0's auc: 0.961673
[134]	valid_0's auc: 0.96171
[135]	valid_0's auc: 0.96171
[136]	valid_0's auc: 0.961724
[137]	valid_0's auc: 0.961723
[138]	valid_0's auc: 0.961726
[139]	valid_0's auc: 0.961731
[140]	valid_0's auc: 0.961736
[141]	valid_0's auc: 0.961751
[142]	valid_0's auc: 0.961759
[143]	valid_0's auc: 0.961777
[144]	valid_0's auc: 0.961777
[145]	valid_0's auc: 0.961779
[146]	valid_0's auc: 0.961782
[147]	valid_0's auc: 0.961782
[148]	valid_0's auc: 0.961796
[149]	valid_0's auc: 0.961799
[150]	valid_0's auc: 0.961806
[151]	valid_0's auc: 0.961804
[152]	valid_0's auc: 0.961805
[153]	valid_0's auc: 0.961794
[154]	valid_0's auc: 0.961802
[155]	valid_0's auc: 0.961805
[156]	valid_0's auc: 0.961821
[157]	valid_0's auc: 0.961853
[158]	valid_0's auc: 0.96187
[159]	valid_0's auc: 0.961875
[160]	valid_0's auc: 0.961877
[161]	valid_0's auc: 0.961889
[162]	valid_0's auc: 0.961894
[163]	valid_0's auc: 0.961898
[164]	valid_0's auc: 0.961901
[165]	valid_0's auc: 0.961911
[166]	valid_0's auc: 0.961911
[167]	valid_0's auc: 0.961915
[168]	valid_0's auc: 0.961925
[169]	valid_0's auc: 0.961925
[170]	valid_0's auc: 0.961929
[171]	valid_0's auc: 0.961949
[172]	valid_0's auc: 0.961945
[173]	valid_0's auc: 0.961945
[174]	valid_0's auc: 0.961944
[175]	valid_0's auc: 0.961946
[176]	valid_0's auc: 0.961952
[177]	valid_0's auc: 0.961956
[178]	valid_0's auc: 0.961958
[179]	valid_0's auc: 0.961971
[180]	valid_0's auc: 0.961998
[181]	valid_0's auc: 0.961998
[182]	valid_0's auc: 0.962014
[183]	valid_0's auc: 0.962018
[184]	valid_0's auc: 0.962016
[185]	valid_0's auc: 0.962022
[186]	valid_0's auc: 0.962031
[187]	valid_0's auc: 0.96203
[188]	valid_0's auc: 0.962021
[189]	valid_0's auc: 0.962021
[190]	valid_0's auc: 0.962022
[191]	valid_0's auc: 0.962026
[192]	valid_0's auc: 0.962038
[193]	valid_0's auc: 0.962042
[194]	valid_0's auc: 0.962041
[195]	valid_0's auc: 0.962035
[196]	valid_0's auc: 0.962037
[197]	valid_0's auc: 0.962048
[198]	valid_0's auc: 0.962054
[199]	valid_0's auc: 0.962052
[200]	valid_0's auc: 0.962054
[201]	valid_0's auc: 0.962041
[202]	valid_0's auc: 0.962041
[203]	valid_0's auc: 0.962052
[204]	valid_0's auc: 0.962051
[205]	valid_0's auc: 0.962056
[206]	valid_0's auc: 0.962056
[207]	valid_0's auc: 0.962069
[208]	valid_0's auc: 0.962072
[209]	valid_0's auc: 0.962072
[210]	valid_0's auc: 0.962062
[211]	valid_0's auc: 0.962064
[212]	valid_0's auc: 0.962066
[213]	valid_0's auc: 0.962066
[214]	valid_0's auc: 0.962066
[215]	valid_0's auc: 0.962064
[216]	valid_0's auc: 0.96206
[217]	valid_0's auc: 0.962059
[218]	valid_0's auc: 0.962059
Early stopping, best iteration is:
[208]	valid_0's auc: 0.962072

### Evaluate the model
Finally, with the model trained, I'll evaluate it's performance on the test set.

In [20]:
ypred = bst.predict(test[feature_cols])
score = metrics.roc_auc_score(test['is_attributed'], ypred)
print(f'Test score: {score}')

Test score: 0.9726727334566094